<?xml version="1.0" encoding="UTF-8"?>
<farconfig version="3.0.5365">
	<pluginsconfig>
		<plugin guid="CDF48DA0-0334-4169-8453-69048DD3B51C">
			<hierarchicalconfig>
				<key name="CDF48DA0-0334-4169-8453-69048DD3B51C" description="FarHints">
					<value name="AutoKey" type="qword" value="0000000000000000"/>
					<value name="AutoMouse" type="qword" value="0000000000000000"/>
				</key>
			</hierarchicalconfig>
		</plugin>
	</pluginsconfig></farconfig>
