<?xml version="1.0" encoding="UTF-8"?>
<farconfig>
	<pluginsconfig>
		<plugin guid="9C3A61FC-F349-48E8-9B78-DAEBD821694B">
			<hierarchicalconfig>
				<key name="9C3A61FC-F349-48E8-9B78-DAEBD821694B" description="Audio player">
					<value name="excluded_exts" type="text" value="mp4;mkv"/>
				</key>
			</hierarchicalconfig>
		</plugin>
	</pluginsconfig>
</farconfig>
