General;[Format  : %Format/String%] at %BitRate/String%, %PlayTime/String3%
Video;Video #%StreamKindID%: [PID=%ID%, ]%Codec/String%[ \(%Format_Profile%\)][ at %BitRate/String%], %Width% x %Height% (%DisplayAspectRatio%)[ at %FrameRate% fps][, (%PlayTime/String3%)]
Audio;Audio #%StreamKindID%: [PID=%ID%, ]%Codec/String%[ at %BitRate/String%][, %Channel(s)/String%][, %SamplingRate/String%][, %Language/String%][, %Title%][, (%PlayTime/String3%)]
Text;Text #%StreamKindID% : [PID=%ID%, ]%Codec/String%[, %Language/String%]
Chapters;Chapters #%StreamKindID%[ : %Total% chapters\n\n]
General_End;\n\n
Video_End;\n\n
Audio_Middle;\n
Audio_End;\n
Text_Begin;\n
Text_End;\n
Chapters_Begin;\n